// color
$gradient: linear-gradient(-100deg,#405DE6 0.01%, #833AB4 21.88%, #C13584 47.92%, #E1306C 67.71%, #FD1D1D 84.38%);
$bg: #0B0E27;
$primery: #fff;
$accent: #0B6AF9;
$stat-bg: rgba(255,255,255,0.1);
$search-bg: rgba(150,150,255,0.2);
$active-menu-bg:rgba(150,150,255,0.1);
$default: #a4a4a4;
// font 
$sarala: 'Sarala', sans-serif;